
@media screen and (max-width: 1450px) {
    .header-right img {
        margin-left: 100px;
    }
}

@media screen and (max-width: 1210px) {

    /* navigation */
    #nav ul {
        width: 60%;
    }

    /* header */
    .header-content {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .header-right {
        margin-bottom: 50px;
        text-align: center;
    }

    /* container */
    #container {
        flex-direction: column;
        align-items: center;
    }

    /* main */
    #main {
        width:90%;
    }
    .img-entrepot {
        float:none;
        margin: 0 auto;
    }
    .main-services {
        flex-wrap: wrap;
    }
    .bloc-main-services {
        margin: 20px;
    }
    .gdiv1 { grid-area: 1 / 1 / 4 / 4; }
    .gdiv2 { grid-area: 4 / 1 / 6 / 4;}
    .gdiv3 {grid-area: 1 / 4 / 4 / 6;}
    .gdiv4 {grid-area: 4 / 4 / 6 / 6;}
    .gdiv5 {display:none;}
    .gdiv6 {display:none;}
    .gdiv7 {display:none;}
    .gdiv8 {display:none;}
    .gdiv9 {display:none;}
    .gdiv10 {display:none;}
    .gdiv11 {display:none;}

    /* aside */
    #aside {
        width:90%;
        margin: -100px 0 100px;
        padding: 0;
    }
    .aside-content {
        display: flex;
        flex-wrap: wrap;
        padding: 15px;
    }
    .aside-content section {
        margin: 20px;
    }

    /* footer */
    .footer-content {
        width: auto;
    }

    .footer-links a {
        margin: 0 15px;
    }
}

@media screen and (max-width: 650px) {

    /* navigation */
    #nav {
        height: auto;
    }

    .nav-content {
        flex-direction: column;
        text-align: center;
    }

    .logo-titre {
        margin: 0 auto;
        padding-bottom: 20px;
        border-bottom: 1px solid rgba(66, 66, 66, 0.301);
    }

    .nav-content ul {
        display: block;
    }

    .nav-content li {
        display: block;
        margin: 20px 0;
    }

    /* header */
    .header-right {
        display: none;
    }
    .header-left {
        text-align: center;
        margin: 50px 0;
    }

    /* main */
    #main {
        width: 100%;
        padding: 30px;
    }
    #main h2 {
        border-left: none;
        border-bottom: 1px solid black;
        font-size: 30px;
        text-align: center;
        padding-bottom: 20px;
    }
    .grid-parent {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
    }
    .gdiv1 {grid-area: 1 / 1 / 2 / 2;}
    .gdiv2 {grid-area: 2 / 1 / 3 / 2;}
    .gdiv3 {grid-area: 3 / 1 / 4 / 2;}
    .gdiv4 {grid-area: 4 / 1 / 5 / 2;}

    /* footer */
    .footer-links {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .footer-links a {
        margin: 10px 0;
    }
}

@media screen and (max-width: 550px) {
    .header-left h2 {
        font-size: 40px;
    }
    .header-left p {
        font-size: 18px;
    }
    .header-left a {
        font-size: 15px;
    }

    /* main */
    .main-content h2 {
        padding-left: 0;
    }
    .img-entrepot {
        width:200px;
        height:200px;
    }
    .presentation p {
        text-align: left;
    }
}